.slider {
  width: 587px;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 587px;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  width: 10000px;
}

.slides.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  width: 587px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  border-radius: 2px;
}
